html, body {
    background-color: #BFBD9F;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    font-family: Oswald, Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input {
    width: 80%;
    padding: 12px 20px;
    margin: 14px;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

label {
    margin: 20px;
    color: #555;
}

/* Set a style for all buttons */
button {
    height: 30px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    background-color: #777;
    text-shadow: 0 0 3px #aaa;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 15px;
}
button:disabled {
    opacity: 0.6;
}

.container {
    width: 580px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    background-color: #BFBD9F;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}